.review-item{
    display: flex;
    border: 1px solid rgb(250, 213, 213);
    width: 571px;
    margin: 21px auto;
    padding: 8px;
    border-radius: 8px;
    
}
.review-item img{
    width: 95px;
}
.review-details-container{
    display: flex;
    width: 100%;
    margin-left: 17px;
    justify-content: space-between;
    
    
}
.review-details p{
    margin: 0;
    
}
/* .review-details{
    justify-content: space-between;
} */
.delete-container{
    display: flex;
    align-items: center;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(235,87,87,0.3);
}

.delete-icon{
    font-size: 31px;
    color: #EB5757;
}
.delete-icon:hover{
    color: rgba(236, 67, 67, 0.5);
    cursor: pointer;
}
